In [5]:
import pandas as pd

file = pd.read_table('NSDUH-2015.tsv', low_memory=False)
data = pd.DataFrame(file)

In [9]:
data.shape

(57146, 2666)

In [6]:
data.head()

,QUESTID2,FILEDATE,CIGEVER,CIGOFRSM,CIGWILYR,CIGTRY,CIGYFU,CIGMFU,CIGREC,CIG30USE,...,POVERTY3,TOOLONG,TROUBUND,PDEN10,COUTYP2,MAIIN102,AIIND102,ANALWT_C,VESTR,VEREP
0,25095143,10/20/2016,1,99,99,16,2014,1,2,93,...,1.0,2,2,3,3,2,2,1088.413235,40028,1
1,13005143,10/20/2016,1,99,99,15,9999,99,3,93,...,2.0,1,2,2,2,2,2,4423.360328,40025,1
2,67415143,10/20/2016,2,99,99,991,9991,91,91,91,...,1.0,2,2,2,3,2,2,328.111801,40004,2
3,70925143,10/20/2016,2,3,4,991,9991,91,91,91,...,3.0,2,2,2,2,2,2,235.290450,40027,1
4,75235143,10/20/2016,1,99,99,17,9999,99,1,22,...,1.0,2,2,3,3,2,2,2280.878615,40011,1

In [8]:
data.tail()

,QUESTID2,FILEDATE,CIGEVER,CIGOFRSM,CIGWILYR,CIGTRY,CIGYFU,CIGMFU,CIGREC,CIG30USE,...,POVERTY3,TOOLONG,TROUBUND,PDEN10,COUTYP2,MAIIN102,AIIND102,ANALWT_C,VESTR,VEREP
57141,57863730,10/20/2016,2,99,99,991,9991,91,91,91,...,3.0,2,2,2,2,2,2,8654.856201,40027,2
57142,97294730,10/20/2016,1,99,99,18,9999,99,4,93,...,3.0,2,2,1,1,2,2,2724.959253,40048,1
57143,31894730,10/20/2016,2,99,99,991,9991,91,91,91,...,1.0,2,2,2,2,2,2,5851.412734,40025,1
57144,98524730,10/20/2016,1,99,99,13,9999,99,1,28,...,2.0,2,1,2,2,2,2,1053.003216,40021,1
57145,80134730,10/20/2016,2,4,4,991,9991,91,91,91,...,3.0,2,2,2,2,2,2,557.694950,40023,1

In [ ]:
columns = {'QUESTID2', 'FILEDATE', 'CATAG6', 'IRSEX', 'IRMARITSTAT', 
           'EDUHIGHCAT', 'IRWRKSTAT18', 'COUTYP2', 'COUTYP2', 'STDANYYR1'
           
           'HEPBCEVER1','HIVAIDSEV1','HIVAIDSEV1','INHOSPYR', 'AMDELT', 
           'AMDEYR','ADDPR2WK1','ADWRDST1','DSTWORST1','IMPGOUTM1', 
           
           'IMPSOCM1','IMPRESPM1','SUICTHNK1','SUICPLAN1', 'SUICTRY1',
           'PNRNMLIF','PNRNM30D','PNRWYGAMT','PNRNMFLAG','PNRNMYR', 
           
           'PNRNMMON','OXYCNNMYR','DEPNDPYPNR','ABUSEPYPNR','PNRRSHIGH', 
           'HYDCPDAPYU','OXYCPDAPYU','OXCNANYYR2','TRAMPDAPYU','MORPPDAPYU', 
           
           'FENTPDAPYU','BUPRPDAPYU','OXYMPDAPYU','DEMEPDAPYU','HYDMPDAPYU',
           'HERFLAG','HERYR','HERMON','ABODHER', 'MTDNPDAPYU',
           
           'IRHERFY','TRBENZAPYU','ALPRPDAPYU','LORAPDAPYU','CLONPDAPYU', 
           'DIAZPDAPYU','SVBENZAPYU','TRIAPDAPYU','TEMAPDAPYU','BARBITAPYU', 
           
           'SEDOTANYR2','COCFLAG','COCYR','COCMON','CRKFLAG',
           'CRKYR','AMMEPDAPYU','METHAMFLAG','METHAMYR','METHAMMON',
           
           'HALLUCFLAG','LSDFLAG','ECSTMOFLAG','DAMTFXFLAG','KETMINFLAG', 
           'TXYRRESOV1','TXYROUTPT1','TXYRMHCOP1','TXYREMRGN1', 'TXCURRENT1', 
           
           'TXLTYPNRL1','TXYRNOSPIL','AUOPTYR1','MHLMNT3','MHLTHER3', 
           'MHLDOC3','MHLCLNC3','MHLDTMT3','AUINPYR1','AUALTYR1'
          }

## Recode Variables
* Change 'null' categories to '0'
* Recode variables other than '1' to 'zero'
* Recode variables greater than '4' to 'zero'
* Recode year variables greater than '365' to 'zero'

In [ ]:
# DROP '99', 
columns = {'IRMARITSTAT 
          }

# Recode anything other than '1' == '0' 
columns = {'STDANYYR1', 'HEPBCEVER1', 'HIVAIDSEV1', 'CANCEREVR1', 'INHOSPYR ', 
           'AMDELT','AMDEYR','ADDPR2WK1','DSTWORST1', 'IMPGOUTM1', 
           'IMPSOCM1','IMPRESPM1','SUICTHNK1','SUICPLAN1','SUICTRY1', 
           'PNRNMLIF','PNRNM30D','PNRWYGAMT','PNRWYGAMT','HEREVER', 
           'TXYRRESOV1','TXYROUTPT1','TXYRMHCOP1','TXYREMRGN1', 'TXCURRENT1', 
           'TXLTYPNRL1','AUOPTYR1','AUINPYR1','AUALTYR1', 'PNRRSHIGH'
          }
           
# Recode anything greater than '4' == '0' 
columns = {'ADWRDST1'}

# Recode anything greater than '365' == '0' 
columns = {'IRHERFY'}